<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:name="com.mk.habittracker.nfccheckin.NfcCheckInTrampolineActivity"
            android:exported="true"
            android:label="@string/trampoline_label"
            android:theme="@android:style/Theme.NoDisplay"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- android maps external types to this: vnd.android.nfc://ext/<domain_name>:<service_name>                    -->
                <data
                    android:scheme="vnd.android.nfc"
                    android:host="ext"
                    android:pathPrefix="/com.mk.habittracker:habit_tag" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".UndoCheckInReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mk.habittracker.ACTION_UNDO_CHECKIN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>