root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 100
tab_width = 4

[*.{kt,kts}]
compose_check_modifiers_for_visibility = only_public
compose_disallow_material2 = true
compose_disallow_unstable_collections = true
compose_preview_naming_enabled = true
compose_preview_naming_strategy = suffix
insert_final_newline = true
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_annotation = disabled
ktlint_standard_multiline-expression-wrapping = disabled
compose_allowed_composition_locals = LocalExtendedColorScheme
ktlint_standard_function-signature = disabled